
@{
    ViewBag.Title = "Confirm Email Address";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to to confirm your account.
    </p>
</div>