
@{
    ViewBag.Title = "Access Request Received";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Thank you for signing up! We will notify you when you can access the application.
    </p>
</div>