<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://test-colorproject-development.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>test-colorproject-development.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>test-ColorProject__Development</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$test-ColorProject__Development</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WorkspaceContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tpm-azuresql01.database.windows.net,1433;Initial Catalog=TechmerVisionAppDev;Persist Security Info=False;User ID=tpmSQLAdmin@tpm-azuresql01;Password=Egpnmas#16;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tpm-azuresql01.database.windows.net,1433;Initial Catalog=TechmerVisionAppDev;Persist Security Info=False;User ID=tpmSQLAdmin@tpm-azuresql01;Password=Egpnmas#16;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TechmerVision.DAL.WorkspaceContext, TechmerVision" MigrationConfiguration="TechmerVision.Migrations.Configuration, TechmerVision" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:tpm-azuresql01.database.windows.net,1433;Initial Catalog=TechmerVisionMemberDev;Persist Security Info=False;User ID=tpmSQLAdmin@tpm-azuresql01;Password=Egpnmas#16;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tpm-azuresql01.database.windows.net,1433;Initial Catalog=TechmerVisionMemberDev;Persist Security Info=False;User ID=tpmSQLAdmin@tpm-azuresql01;Password=Egpnmas#16;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TechmerVision.Models.ApplicationDbContext, TechmerVision" MigrationConfiguration="TechmerVision.ApplicationDbContextMigrations.Configuration, TechmerVision" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="WorkspaceContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>