<br/>
<br />
<br />

<div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
        <h4>
            Thank you for requesting a TechmerVision demo. We will reach out to you shortly to schedule a demo. Also, please check your email inbox for an email to confirm your subscription to TechmerVision news and updates. Once you do so, you will be notified of exciting news and updates about TechmerVision as they become available.
        </h4>
    </div>
</div>