<div class="modal-header">
    <h3 class="modal-title">Clear Workspace</h3>
</div>
<div class="modal-body">
    <h4>Clear Workspace</h4>
    <p>Clearing a workspace deletes all grids, color selections, products, and inpiriation from a workspace.  This step is irrevesrable.  Are you sure you would like to clear the workspace?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>